# Default values for orders.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  repository: public.ecr.aws/aws-containers/retail-store-sample-orders
  pullPolicy: IfNotPresent
  tag: 

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  fsGroup: 1000

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 256m
    memory: 512Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
topologySpreadConstraints: []

metrics:
  enabled: true
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/actuator/prometheus"

configMap:
  create: true
  name:

app:
  persistence:
    provider: 'postgres'
    endpoint: 'my-retail-cluster-orders.cluster-ckkvo5l8bvyn.us-east-1.rds.amazonaws.com:5432'
    database: 'orders'

    secret:
      create: true
      name: orders-db
      username: root
      password: "XNNWK4vF5Z"

  messaging:
    provider: 'rabbitmq'

    rabbitmq:
      addresses: ["amqps://b-c43cc017-e9a7-4a4b-9e7a-39fe78f77526.mq.us-east-1.on.aws:5671"]

      secret:
        create: true
        name: orders-rabbitmq
        username: default_mq_user
        password: "+NxJ7)eM5yW&Ngqj"

postgresql:
  create: false

rabbitmq:
  create: false

securityGroups:
  create: false
  securityGroupIds: []

opentelemetry:
  enabled: false
  instrumentation: ""

podDisruptionBudget:
  enabled: false
  minAvailable: 2
  maxUnavailable: 1
